*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/test/*
/spec/views/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/database.yml
/config/secrets.yml
/public/uploads/book
/public/uploads/user
/public/uploads/tmp
config/settings.local.yml
config/settings/*.local.yml
config/settings/test.yml
config/environments/*.local.yml
.DS_Store
/.idea
.byebug_history
/node_modules/
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
/spec/helpers/
/spec/controllers/
